:root {
    --container-width: 1200px;
    --container-padding: 15px;

    --font-main: 'Montserrat', sans-serif; 

    --text-color: #fff;
    --text-muted: #ac182c;

    --laptop-size: 1199px;
    --table-size: 959px;
    --mobile-size: 599px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}