.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px; // отступ "безопасности"
    pointer-events: all;
}

.nav__logo {
}

.nav__list {
    @media (max-width: 1200px) {
        display: none;
    }

    ul {
        display: flex;
        align-items: center;
        column-gap: 65px;

        font-size: 18px;
        font-weight: 600;
        line-height: 1.22;
    }
}

.nav__mobile-nav {
}